.experience-container {
    margin: auto;
    padding: 20px;
  }

  .experience-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
  }
  
  .experience-card {
    background: hsla(0, 0%, 98%, 0);
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .company-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
  }
  
  .duration, .location {
    font-weight: bold;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .experience-item {
    display: flex;
  }
  
  .experience-details {
    /* flex: 1; */
    /* align-items: left; */
  }
  
  .job-title {
    font-weight: bold;
    align-items: left;
  }
  
  .company-info {
    text-align: left;
  }
  
  .experience-date {
    font-weight: bold;
    white-space: nowrap;
    align-items: right;
  }
  
  .companyicon {
    align-content: center;
    justify-content: center !important;
    /* padding-top: 9em !important; */
  }